.super-mario {
    width: 200px;
    position: absolute;
    z-index: 3;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 4;
    bottom: 150px;
  }
  
  .baloon {
      position: absolute;
      z-index: 1;
      left: 350px;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 2;
    right: 648px;
    top: 110px;
  }
  
  .bowser {
    width: 200px;
    right: 350px;
    position: absolute;
    z-index: 5;
    right: 405px;
    top: 225px;
  }